@charset "utf-8";
@import url(common/reset.css);

.frame {
    margin: 30px 150px;
    display: flex;
    flex-direction: column;
}

.navigator {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
    background: 0;
    position: fixed;
    top: 15px;
    left: 100px;
    right: 100px;
    transition: all 0.3s;
    z-index: 1;
}


h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 25px;
    color: #f8c8c8;
}

ul {
    margin: 0px;
}

li {
    display: inline;
    padding-left: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #000;
    font-size: 20px;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #ad5e5e;
    transition: 0.3s;
}


.main {
    font-size: 0;
}

.profile {
    max-width: 1150px;
    margin: 150px auto;
}

.aboutme-img {
    width: 100%;
    max-width: 50%;
    min-width: 310px;
}

/*      프로필 왼쪽 설정    */
.aboutme {
    display: inline-block;
}

.aboutme-text {
    text-align: center;
}

.text01 {
    margin-top: 20px;

}

.text02 {
    margin-top: 20px;
}

.text01 span {
    font-size: 20px;
}

.aboutme-text p {
    font-size: 18px;
    margin-top: 10px;
}

/*      프로필 오른쪽   */
.profile-right {
    float: right;
    margin-left: 50px;
}

.profile-right h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

/*       슬로건     */
.slogun {
    margin-bottom: 104px;
    text-align: center;
}

.slogun p {
    font-size: 25px;
}

.slogun p:first-child {
    line-height: 30px;
}

.slogun p:nth-child(2n) {
    display: inline-block;
}

.slogun span {
    font-size: 37px;
    position: relative;
}

.slogun .line::after {
    content: '';
    display: inline-block;
    width: 270px;
    height: 5px;
    background-color: #4689ea;
    position: absolute;
    bottom: -5px;
    left: 0;


}

.section01 {
    margin-bottom: 20px;
}

/*     Education    */
.Education {
    display: inline-block;
}

.box01 p {
    font-size: 16px;
    display: inline-block;
    margin-left: 10px;
}

.box01 span {
    font-size: 16px;
    position: absolute;
    top: 30%;
    left: 10%;

}

.year {
    border: 1px solid #333;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

/*  Education 두번째 글자가 길어서 맞춰줌  */
.year01 {
    border: 1px solid #333;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    position: relative;
    display: inline-block;
    top: 10px
}

/*  License   */
.License {
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
}

.License .box01 {
    margin-bottom: 10px;
}

.License .box01:last-child {
    margin-bottom: 0;
}

/*      스킬    */
.chart {
    display: inline-block;
    /*
        width: 150px;
        height: 150px;
    */
    position: relative;
    /*            background-color: pink;*/
    vertical-align: top;
}

.chart span.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.chart span {
    font-size: 16px;
}

#skill {
    margin-bottom: 20px;
}

/*        like     */

.like .camera {
    width: 50px;
    margin-left: 20px;
}

.like .sho {
    width: 50px;
    margin: 0 30px;
}

.like .tv {
    width: 50px;
    margin: -5px 5px;
}

footer {
    width: 100vw;
    height: 80px;
    background: #303a48;
    padding: 30px;
    background-color: #303a48;
    text-align: center;
    color: #fff;
}

.top {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 900;
}

.top a {
    display: flex;
    flex-direction: column;
    padding: 25px 15px;
    background-color: #ffbcbc;
    color: #fff;
    border-radius: 50%;
}


.top img {
    display: flex;
    position: absolute;
    right: 20px;
    bottom: 0;
    flex-direction: column;
    transition: 1s;
    opacity: 1;

}

.top a img:nth-child(1) {
    animation: topAni1 linear 1.1s infinite;
}

.top a img:nth-child(2) {
    animation: topAni2 linear 1.1s infinite;
}

.top a img:nth-child(3) {
    animation: topAni3 linear 1.1s infinite;
}

@keyframes topAni1 {
    0% {
        bottom: 70px;
        opacity: 0.3;
    }
    100% {
        bottom: 100px;
        transform: scale(1.2);
        opacity: 0;
    }
}

@keyframes topAni2 {
    0% {
        bottom: 80px;
        opacity: 0.6;
    }
    100% {
        bottom: 110px;
        transform: scale(1.2);
        opacity: 0;
    }
}

@keyframes topAni3 {
    0% {
        bottom: 90px;
        opacity: 1;
    }
    100% {
        bottom: 120px;
        transform: scale(1.2);
        opacity: 0;
    }
}

.portfolio {
    /*padding-bottom: 50px;*/
    background: #ffdcdc;
    z-index: -4;
}

.portfolio h4 {
    position: relative;
    padding: 70px;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    z-index: 999;
    color: #2f3947;
}

.portfolio h4 span {
    position: absolute;
    left: 50%;
    bottom: 70px;
    margin-left: -170px;
    width: 335px;
    height: 20px;
    background-color: #fc9e9e;
    transform: skew(-20deg);
    z-index: -1;
}

.portfolio .p_tab ul {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.portfolio .p_tab ul li {
    margin: 0 15px;
    background-color: #e0e3e8;
}

.portfolio .p_tab ul li a {
    display: block;
    position: relative;
    padding: 10px 20px;
    overflow: hidden;
    color: #303a48;
    font-weight: bold;
    transition: .4s;
    z-index: 2;
}

.portfolio .p_tab ul li a::after {
    content: "";
    display: block;
    position: absolute;
    top: -1px;
    left: -3px;
    width: 1px;
    height: 60px;
    background-color: #303a48;
    transition: width .5s;
    z-index: -1;
}

.portfolio .p_tab ul li a:hover {
    color: #fff;
}

.portfolio .p_tab ul li a:hover::after {
    width: 110%;
}

.portfolio .p_tab li.active a {
    background-color: #303a48;
    color: #fff;
}

.portfolio .p_list {
    padding-bottom: 50px;
}


.portfolio .p_list ul {
    display: flex;
    flex-wrap: wrap;
    max-width: 1400px;
    margin: 0 auto;
    justify-content: center;
    transition: all .4s;
}

.portfolio .p_list ul li {
    margin-bottom: 30px;
}

.portfolio .p_list a {
    display: block;
}

.portfolio .p_list a img {
    width: 100%;
}

.portfolio .p_list a:hover img {
    transform: scale(1.1);
}

.portfolio .p_list a span {
    display: block;
    width: 291px;
    height: 291px;
    overflow: hidden;
}

.portfolio .p_list a img {
    display: block;
    transition: .4s;
}

.portfolio .p_list a p {
    padding: 10px 0;
    background-color: #c1d2ff;
    text-align: center;
    font-size: 20px;
}


.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.contact {
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: #506385;
    margin: 30px;
    border-bottom: 2px solid rgb(97, 145, 255);
}

.links > a {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 300;
    color: #000;
    margin-left: 15px;
}

.links > a:hover {
    color: #ffbcbc;
}

.footer > p {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    font-size: 15px;
    font-style: italic;
    letter-spacing: -0.3px;
}

button {
    margin-top: 30px;
    color: #834444;
    background: #ffdfdf;
    font-size: 1em;
    border: none;
}

p {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.frame {
    margin: 30px 150px;
    display: flex;
    flex-direction: column;
}

@media (max-width: 767px) {
    .frame {
        margin: 10px 20px;
    }
}

body {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav ul {
    text-align: center;
    margin: 0;
}

nav ul li {
    padding: 18px;
    display: inline-block;
    align-self: center;
    margin: 0;
    margin-left: 15px;

}

nav ul li a {
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.5);
    font-size: 18px;
    text-decoration: none;
    display: block;
}

nav ul li a:hover {
    color: #ffa9a9;
    transition: 0.3s;
}

@media (max-width: 767px) {
    nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    nav ul {
        text-align: center;
        margin: 0;
        padding: 0;
    }

    nav ul li {
        display: table-cell;
        align-self: center;
        margin: 0;
        padding: 9px;


    }

    nav ul li a {
        text-transform: uppercase;
        color: rgba(0, 0, 0, 0.5);
        font-size: 13px;
        text-decoration: none;
        display: block;
    }

}


.site-name {
    margin: 0;
    padding: 18px;
    font-family: sans-serif;
    font-size: 25px;
    color: #D29F62;

}


@media (max-width: 767px) {
    .site-name {
        display: block;
        margin: 0;
        padding: 20px;
        font-family: sans-serif;
        font-size: 25px;
        color: #D29F62;
        align-content: center;
        justify-content: center;
        align-self: center;
    }

}

.img img {
    position: relative;
    top: 30px;
    margin-left: 650px;
    width: 30%;
    height: 30%;
    object-fit: scale-down;
    object-position: right center;
}

@media (max-width: 767px) {
    .img img {
        position: relative;
        top: 170px;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 40%;
        object-fit: contain;
        object-position: center;
        display: block;
        margin-left: 0;
    }
}


.logotext {
    height: 70vh;
    display: flex;
    margin-left: 100px;
    align-items: center;
    justify-content: default;
    position: absolute;
}

@media (max-width: 767px) {
    .logotext {
        height: 25vh;
        display: block;
        align-items: center;
        align-self: center;
        text-align: center;
        justify-content: center;
        position: absolute;
        font-size: 11px;
    }
}


.text {
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: default;
}


.logotext h3 {
    font-family: sans-serif;
    font-size: 4em;
    color: #EDD8A3;
    z-index: 1;
    mix-blend-mode: overlay;
}

@media (max-width: 767px) {
    .logotext h3 {
        font-family: sans-serif;
        color: #EDD8A3;
        z-index: 1;
        mix-blend-mode: overlay;
        margin: 0;
    }
}

.logotext h5 {
    font-family: sans-serif;
    font-size: 1em;
    color: #878787;
    z-index: 1;
    mix-blend-mode: overlay;
}

.profile h4 {
@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);
    font-family: 'Jeju Gothic', sans-serif;
    font-size: 2em;
    text-align: justify;
    color: black;
    z-index: 3;
    mix-blend-mode: overlay;
}

.profile h5 {
@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);
    font-family: 'Jeju Gothic', sans-serif;
    font-size: 25px;
    color: #CCB182;
    z-index: 1;
    margin: 0;

}

.profile h6 {
@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);
    font-family: 'Jeju Gothic', sans-serif;
    font-size: 18px;
    color: #898989;
    z-index: 1;

    margin: 0;

}

.profile {
    display: flex;
    flex-direction: row;
    /*margin-top: 50px;*/
    margin-bottom: 50px;
    text-align: center;
}

@media (max-width: 767px) {
    .profile {
        display: block;
        flex-direction: column;
        margin-top: 220px;
        margin-bottom: 50px;
        text-align: center;
    }
}

#pf-content1 {
    background-color: #FCF9F2;
    width: 30%;
    height: 300px;
    padding: 20px;
    float: left;
    border: none;
    border-radius: 30px;
    margin-right: 10px;
}

#pf-content2 {
    background-color: #FCF9F2;
    width: 30%;
    height: 300px;
    padding: 20px;
    float: left;
    border: none;
    border-radius: 30px;
    margin-right: 10px;
}

#pf-content3 {
    background-color: #FCF9F2;
    width: 30%;
    height: 300px;
    padding: 20px;
    float: left;
    border: none;
    border-radius: 30px;
}

@media (max-width: 767px) {
    #pf-content1 {
        background-color: #FCF9F2;
        width: 90%;
        display: block;
        height: 200px;
        padding: 20px;
        float: left;
        border: none;
        border-radius: 30px;
        margin-right: 0;
        margin-bottom: 10px;
    }

    #pf-content2 {
        background-color: #FCF9F2;
        width: 90%;
        display: block;
        height: 200px;
        padding: 20px;
        float: left;
        border: none;
        border-radius: 30px;
        margin-right: 0;
        margin-bottom: 10px;

    }

    #pf-content3 {
        background-color: #FCF9F2;
        width: 90%;
        display: block;
        height: 200px;
        padding: 20px;
        float: left;
        border: none;
        border-radius: 30px;
        margin-right: 0;
        margin-bottom: 10px;

    }

}


.work {
    text-align: center;
    font-size: 200px;
    color: #93b3ff;
}

.work-item {
    width: 100%;
    height: auto;
    position: relative;
}

.work-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;

}

.img-item {
    position: relative;
}


.text-1 {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 350px;
    height: 350px;
    background: rgba(0, 0, 0, 0.3);
    color: white;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    text-align: center;
    transition: opacity 0.3s;
    margin-left: 10px;
}


.text-1:hover {
    opacity: 1;
}


.footer h4 {
    margin: 0;
    padding: 18px;
    font-family: sans-serif;
    font-size: 25px;
    color: #D6CEC5;

}


.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 60px;
    bottom: 0;
    margin-top: 50px;
    margin-bottom: 200px;

}


.title {
    color: #3338;
    font-size: 200px;
    text-align: center;
}

.sec1 {
    background-color: #b9c8f4;
    padding-bottom: 100px;
}


html {
    scroll-behavior: smooth; /* 부드러게 */
}

#design {
    padding-top: 50px;
    padding-bottom: 100px;
    width: 1300px;
    display: block;
    margin: auto;
    position: relative;
}

#design > div {
    width: 1300px;
    display: block;
    margin: auto;
}

#design h2 {
    color: #f77272;
    font-size: 2rem;
    text-align: center;
    padding-top: 200px;
    margin-bottom: 50px;
}

#bannerArea {
    width: 1070px;
    display: block;
    margin: auto;
}

#bannerArea > div {
    width: 1070px;
    overflow: hidden;
}

#rolling {
    position: relative;
    width: 5270px;
    display: flex;
}

#rolling > img {
    width: 350px;
    margin-left: 10px;
}

#leftBtn, #rightBtn {
    cursor: pointer;
    color: #f77272;
    font-size: 5rem;
    z-index: 1;
    position: absolute;
    top: 57%;
}

#rightBtn {
    right: 0;
    display: inline;
}

#leftBtn {
    left: 0;
    display: inline;
}

#popup {
    position: fixed;
    z-index: 10;
    top: 0;
    background: rgba(0, 0, 0, 0.8);
    overflow: auto;
    width: 100%;
    height: 100vh;
    text-align: center;
    display: none;
}

#popup img {
    max-width: 100%;
}

#popup h2 {
    color: white;
    font-size: 2rem;
    margin: 50px 0 30px 0;
}

/*오른쪽 중앙 메뉴*/
#remote {
    display: none;
    width: 105px;
    position: fixed;
    top: 30%;
    right: 1%;
}

/*#remote>div {width:1300px; margin:auto; display:block; }*/
#remote a {
    color: #3a3a3a;
}

#remote ul:nth-of-type(2) {
    margin-left: 10px;
}

#remote ul {
    line-height: 230%;
    padding: 2px;
}

#remote ul > li {
    padding: 0 0 0 5px;
}

#remote ul > li:hover {
    background: #f2f2f2;
}

#remote img {
    margin-right: 7px;
}
